@import '../../App.scss';

.book-grand-wrapper {
  margin: 0 1rem;
  position: relative;
  box-shadow:  5px 5px 5px $shadow-color;


  &__star {
    color: gold;
    height: 2rem;
    width: 2rem;
    position: absolute;
    z-index: 1;
    bottom: 10px;
    left: 2px;
  }
}

.book-grand-wrapper:last-child {
  margin-right: $S;
}